@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

:root {
  font-family: "Roboto", sans-serif;
  color: #222;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 60px;
  grid-template-areas: "header " "main" "footer";
  height: 100vh;
}
/* Áreas */
.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*dentro de main*/
.layout-product-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "col1 col2 col3";
  gap: 2rem;
  height: 100%;
}
.col1 {
  grid-area: col1;
}
.col2 {
  grid-area: col2;
}
.col3 {
  grid-area: col3;
}

@layer utilities {
  .nav-items {
    @apply w-8 h-8 p-[4px] hover:bg-gray-400 hover:rounded-full;
  }
}

@media (max-width: 768px) {
  .layout-product-page {
    grid-template-columns: 1fr;
    grid-template-areas: "col2" "col1" "col3";
  }
}
